@use "../../partials/mixins" as *;
@use "../../partials/typography" as *;
@use "../../partials/colors" as *;
@use "../../partials/variables" as *;



.currency{
    @include side-space;

    &Title{
        font-size: 2rem;
        margin: $max-space*2 0 $max-space 0;
    }
}

.currencyCard{
    box-sizing: border-box;
    height: 90vh;
    overflow: scroll;

    @include tablet{
        @include flex-row{
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }
    &__items{
            box-shadow: 
                12px 12px 20px 0 rgba(0, 0, 0, 0.25),
                -8px -8px 20px 0 #ffffff73;
        @include flex-row{
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            //transform: scale(.75);
            transition: all .5s ease-in;
            };
        width: 25rem;
        height: 8rem;
        border-radius: 10px;
        margin: $medium-space 0;
        // &:hover{
        //     transform: scale(1);
        // }

        &-text{
            //width: 100%;
            margin: $small-space;
        }
    }

    &__img{
        width: 15%;
        height: auto;
        margin: $medium-space $small-space;
        padding: .5rem;
        border-radius:50%;
        box-shadow: 
                12px 12px 20px 0 rgba(0, 0, 0, 0.25),
                -8px -10px 15px 0 #ffffff73;
    }
    &__detail{
        position: relative;
        bottom: 3rem;
        left: 23rem;
        border: 1px solid #423913;
        border-radius:50%;
        box-shadow: 
                12px 12px 20px 0 rgba(0, 0, 0, 0.25),
                -8px -5px 15px 0 #ffffffde;
    }
    &__priceChange{
        @include flex-row{
            align-items: center;
        }
        &-img{
            //transform: scale(1.5);
            margin-left: .5rem;
        }
    }
    &__positive, &__negative{
        font-weight: bold;
                margin-left: .5rem;
    }

    &__positive{
        color: green;
    }
    &__negative{
        color: red;
    }
}

.block{
    display: block;
}

.none{
    display: none;
}