@use "../../partials/mixins" as *;
@use "../../partials/typography" as *;
@use "../../partials/colors" as *;
@use "../../partials/variables" as *;

.currencyCard{
    @include side-space;
    box-sizing: border-box;
    @include tablet{
        @include flex-row{
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }
    &__items{
        @include flex-row{
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            };

        width: 15rem;
        height: 20rem;
        border-radius: 5px;
        margin: $medium-space 0;
    }
}