@use "../../partials/mixins" as *;
@use "../../partials/typography" as *;
@use "../../partials/colors" as *;
@use "../../partials/variables" as *;

.dashboard{
    position: relative;
    width: 100%;
    margin-bottom: 3rem;
    perspective: 2000px;

    &__top{
        @include flex-row{
            justify-content:space-between;
            align-items:center;
        }
    }

    &__logout{
        @include button{
            padding: $small-space/2;
            width: 4rem;
            transition: all .5s ease-in;
            box-shadow: 
                12px 12px 20px 0 rgba(0, 0, 0, 0.25),
                -8px -10px 15px 0 #ffffff73;
            
        }
        &:hover{
            background-color: #f4a60d;
            transform: rotateX(20deg) rotateY(0deg);
        }
    }

    &__value{
        margin: 1.5rem 0 0 0;
    }

    &__profit{
        color: green;
    }
    &__loss{
        color: red;
    }
}