@use "../../partials/mixins" as *;
@use "../../partials/typography" as *;
@use "../../partials/colors" as *;
@use "../../partials/variables" as *;

.dashboard{
    position: relative;
    width: 100%;
    margin-bottom: 3rem;

    &__top{
        @include flex-row{
            justify-content:space-between;
            align-items:center;
        }
    }

    &__logout{
        @include button{
            padding: $small-space/2;
            width: 4rem;
        }
    }

    &__value{
        margin: 1.5rem 0 0 0;
    }

    &__profit{
        color: green;
    }
    &__loss{
        color: red;
    }
}