@use "../../partials/mixins" as *;
@use "../../partials/variables"  as *;

.paginate{
    margin: $medium-space;
    @include flex-row{
        justify-content: space-between;
        align-items: baseline;
        height: 20px;
        width: 100%;
    }
    &__next, &__prev{
        @include flex-row{
            justify-content: space-between;
            align-items: center;
            border: none;
            background: transparent;
            width: 6rem;
            }       
        }
    &__next{
        width: 4.5rem;
    }
}