@use "../../partials/mixins" as *;
@use "../../partials/typography" as *;
@use "../../partials/colors" as *;
@use "../../partials/variables" as *;

.footer{
    padding: 0 5rem;
    height: 25vh;
    background-image: url(../../assets/icons/wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    @include flex-row{
        align-items: center;
        justify-content: space-between;
        }

    &__title{
        opacity: .5;
    }
}