@use "../../partials/mixins" as *;
@use "../../partials/typography" as *;
@use "../../partials/colors" as *;
@use "../../partials/variables" as *;



.portfolioList{
    @include side-space;
    box-sizing: border-box;
    overflow: scroll;
    position: relative;
    padding: 5rem 0;
    width: 90%;
    min-height: 60vh;

    &__profit{
        color: green;
        font-weight: bold;
    }
    &__loss{
        color: red;
        font-weight: bold;
    }

    &__delete{
        position: relative;
        bottom: 2.5rem;
        left: 90%;
        border-radius:50%;
        box-shadow: 
                12px 12px 20px 0 rgba(0, 0, 0, 0.25),
                -8px -5px 15px 0 #ffffffde;
    }

    &__items{
        //perspective: 500px;
            box-shadow: 
                12px 12px 20px 0 rgba(0, 0, 0, 0.25),
                -8px -8px 20px 0 #ffffff73;
        @include flex-row{
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            transition: all .5s ease-in;
            };

        width: 45%;
        min-height: 8rem;
        border-radius: 10px;
        margin: $medium-space $medium-space;

        &-text{
            margin: $small-space;
        }
        // &:hover{
        //     transform: rotateY(90deg) rotateX(15deg) scale(1.1);
            
        // }
    }

    &__img{
        width: 15%;
        height: auto;
        margin: $medium-space $small-space;
        padding: .5rem;
        border-radius:50%;
        box-shadow: 
                12px 12px 20px 0 rgba(0, 0, 0, 0.25),
                -8px -10px 15px 0 #ffffff73;
    }
    &__detail{
        position: relative;
        bottom: 3rem;
        left: 23rem;
        border: 1px solid #423913;
        border-radius:50%;
        box-shadow: 
                12px 12px 20px 0 rgba(0, 0, 0, 0.25),
                -8px -5px 15px 0 #ffffffde;
    }
    &__priceChange{
        font-weight: bold;
    }


    &__positive{
        color: green;
        font-weight: normal;
    }
    &__negative{
        color: red;
        font-weight: normal;
    }
    &__charts{
        position: absolute;
        width: 40%;
        top: 7rem;
        border-radius: 10px;
        right: 2rem;
                box-shadow: 
                12px 12px 20px 0 rgba(0, 0, 0, 0.25),
                -8px -5px 15px 0 #ffffffde;
    }
}