@use "../../partials/mixins" as *;
@use "../../partials/typography" as *;
@use "../../partials/colors" as *;
@use "../../partials/variables" as *;



.portfolioList{
    margin: 0 auto;
    width: 100%;
    @include tablet{
        @include flex-row{
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
        }
    }
    @include side-space;
    box-sizing: border-box;
    overflow: scroll;
    position: relative;
    padding: 5rem 0;
    width: 90%;
    min-height: 600px;

    &__addAsset{
        width: 100%;
        padding-bottom: 5rem;
        margin-top: -2rem;
    }

    &__Itemswrapper{
        width: 50%;
    }

    &__profit{
        color: green;
        font-weight: bold;
    }
    &__loss{
        color: red;
        font-weight: bold;
    }

    &__delete{
        position: relative;
        bottom: 2.5rem;
        left: 90%;
        border-radius:50%;
        box-shadow: 
                12px 12px 20px 0 rgba(0, 0, 0, 0.25),
                -8px -5px 15px 0 #ffffffde;
    }

    &__items{
            box-shadow: 
                12px 12px 20px 0 rgba(0, 0, 0, 0.25),
                -8px -8px 20px 0 #ffffff73;
        @include flex-row{
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            transition: all .5s ease-in;
            };

        min-height: 8rem;
        border-radius: 10px;
        margin: $medium-space $medium-space;

        &-text{
            margin: $small-space;
        }
        &-span{
            text-transform: uppercase;
        }
        // &:hover{
        //     transform: rotateY(90deg) rotateX(15deg) scale(1.1);
            
        // }
    }

    &__img{
        width: 15%;
        height: auto;
        margin: $medium-space $small-space;
        padding: .5rem;
        border-radius:50%;
        box-shadow: 
                12px 12px 20px 0 rgba(0, 0, 0, 0.25),
                -8px -10px 15px 0 #ffffff73;
    }
    &__detail{
        position: relative;
        bottom: 3rem;
        left: 23rem;
        border: 1px solid #423913;
        border-radius:50%;
        box-shadow: 
                12px 12px 20px 0 rgba(0, 0, 0, 0.25),
                -8px -5px 15px 0 #ffffffde;
    }
    &__priceChange{
        font-weight: bold;
    }


    &__positive{
        color: green;
        font-weight: normal;
    }
    &__negative{
        color: red;
        font-weight: normal;
    }
    &__charts{
        margin-top: 2rem;
        margin-right: 2rem;
        width: 45%;
        border-radius: 10px;
        box-shadow: 
            12px 12px 20px 0 rgba(0, 0, 0, 0.25),
            -8px -5px 15px 0 #ffffffde;
    }
}