@use "../../partials/mixins" as *;
@use "../../partials/typography" as *;
@use "../../partials/colors" as *;
@use "../../partials/variables" as *;

.header{
    @include side-space;
    @include flex-column{
        justify-content: center;
        align-items: center;
    }
    min-height: 10vh;

    @include tablet{
        @include flex-row{
            justify-content: space-between;
        }
    }

    &__logo{
        width: 15rem;
        padding: $medium-space 0;
    }
    &__links{
        @include flex-row{
            width: 100%;
            justify-content: space-evenly;

            @include tablet{
                @include flex-row{
                    justify-content: flex-end;
                    align-items: center;
                }
            }
        }
        &-active{
            @include button;
            background-color: $primary-btn-color;
       
            @include tablet{
                margin:0 $small-space;
            }

            &:active{
                box-shadow: none;
                background: #c4c4c4;
                box-shadow:  inset 2px 2px 5px 0 rgba(0, 0, 0, 0.25),
                inset -2px -2px 5px 0 #ffffff73;
            }
        }
        &-notActive{
            @include button;
            background-color: $secondary-btn-color;

 
            &:active{
                box-shadow: none;
                background: $primary-btn-color;
                box-shadow:  inset 2px 2px 5px 0 rgba(0, 0, 0, 0.25),
                inset -2px -2px 5px 0 #ffffff73;
            }         
        }
    }
}