@use "../../partials/mixins" as *;
@use "../../partials/typography" as *;
@use "../../partials/colors" as *;
@use "../../partials/variables" as *;

.login{
    
    @include flex-column{
        justify-content: center;
        align-items: center;
    }  
    &__card{
        position: absolute;
        background-color:#dfd8d8b6;
        padding: $medium-space*2;
        border-radius: 10px;
        box-shadow: 
                12px 12px 30px 0 rgba(0, 0, 0, 0.25),
                -8px -8px 30px 0 #fffbfbb6;
    }
    &__title{
        @include flex-column{
            align-items: center;
            gap: .75rem;
        }
        font-size: 1.25rem;
        color: rgba(0,0,0,0.5);
        margin: $small-space 0 $medium-space 0;
    }
    &__logo{
        height: 2rem;
        margin: $medium-space/3;
        opacity: 1;
    }
    &__login, &__signup{
        @include button;
        width: 100%;
        margin-top: $small-space;
        font-weight: normal;
        height: 3rem;
    }
    &__login{
        background-color: #4284F3;
        margin-bottom: $small-space*2;
    }
    &__signup{
        background-color: #dd4b39;
    }
}