@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;

.hero{
    @include side-space;
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    &__main{
        position: absolute;
        top: 20%;
        &-title{
            font-size: 3rem;
            width: 70%;
        }
        &-span{
            color: #716431;
        }
        &-text{
            margin: $medium-space 0;
        }
    }
}