@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;

.hero{
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    &__main{
        position: absolute;
        top: 20%;
        width: 100%;
        @include tablet{
            @include flex-row{
                justify-content:space-between;
                align-items: center;
            }
        }
        &-title{
            font-size: 3rem;
            width: 70%;
        }
        &-span{
            color: #716431;
        }
        &-text{
            margin: $medium-space 0;
        }
    }
}